<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">VivaOrgánica</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/Productos">Productos</a></li>
      <li><a href="/Agregar">Agregar</a></li>
     
    </ul>
  </div>
</nav>

<div class="header-space"></div>

  <section class="main">
    <router-outlet></router-outlet>
  </section>